.employee-table-container {
  margin: 20px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th, .employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.employee-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.title{
  font-size: large;
}

.employee-list {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
